@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.app-wrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.header-container {
    min-width: 35%;
    height: 70px;
    background-color: #fff;
    position: absolute;
    right: 50px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 0px 10px 18px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 18px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 18px -8px rgba(0, 0, 0, 0.75);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    animation: .5s menuAppear ease-in;
    transition: .3s;
}

.pos-rel {
    position: relative;
    width: 100%;
}

.header-container .logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    margin: 20px;
}

.header-container .logo img {
    width: 55px;
    transform: scale(1.2) rotate(30deg);
}

.menu-active {
    width: 100px;
    height: 70px;
    position: absolute;
    right: 115px;
    background: #EB3349;
    background: -webkit-linear-gradient(to bottom, #F45C43, #EB3349);
    background: linear-gradient(to bottom, #F45C43, #EB3349);
    transition: .5s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: scale(1.1);
}

.menu-active-second {
    right: 15px;
}

nav {
    position: absolute;
    right: 15px;
}

.header-container ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    line-height: 70px;
}

.header-container li {
    height: 70px;
    width: 100px;
    transition: .3s;
}

.header-container li .menu-item {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #000;
    transition: .7s;
    border-bottom-right-radius: 15px;
}

.header-container li:first-child .menu-item {
    color: #ffffff;
    transition: .5s;
}



.list {
    background-color: black;
}

.list li .menu-item {
    color: #ffffff;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #c04848;
    background: -webkit-linear-gradient(to right, #c04848, #480048);
    background: linear-gradient(to right, #c04848, #480048);
}

.content-container img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.content-container h1 {
    position: absolute;
    z-index: 2;
    color: #ffffff;
    font-size: 6vw;
    animation: 1s fadeIn ease;
}

.list-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
    flex-wrap: wrap;
}

.ticker-list-wrapper{
    min-width: 50%;
    min-height: 60vh;
    position: relative;
    align-self: baseline;
    margin-top: 50px;
    animation: 1s fadeIn ease;
    transition: .3s;
}

.ticker-list-wrapper table{
    width: 100%;
    border-collapse: collapse;
}

.ticker-list-wrapper table thead{
    padding: 10px 0;
    display: table;
    width: calc(100% - 5px);
    text-align: center;
}

.ticker-list-wrapper table tbody {
    display: block;
    max-height: 60vh;
    overflow-y: scroll;
    text-align: center;
}

.ticker-list-wrapper table thead tr{
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    text-transform: lowercase;
}
.ticker-list-wrapper table thead tr th{
    transition: .3s;
}
.ticker-list-wrapper table thead tr th:hover{
    background: #EB3349;
    cursor: pointer;
}
.ticker-list-wrapper .active-header{
    background-color: #EB3349;
}
.ticker-list-wrapper table tbody tr{
    display: table;
    width: 100%;
}

.ticker-list-wrapper .active{
    background: linear-gradient(to bottom, #F45C43, #EB3349);
    color: #ffffff;
    transition: .3s;
}
.ticker-list-wrapper table tbody tr:hover {
    background: linear-gradient(to bottom, #F45C43, #EB3349);
    color: #ffffff;
}
th,td{
    padding: 10px;
    width: 100px;
    cursor: default;

}
.lds-dual-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000000;
    border-color: #000000 transparent #000000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.ticker-list-wrapper .sort-reset{
    margin: 30px;
    border: none;
    padding: 15px 25px;
    color: #fff;
    border-radius: 3px;
    transition: .3s;
    background-color: #000000;
    text-transform: uppercase;
}
.ticker-list-wrapper .sort-reset:focus {
    outline: none;
}

.ticker-list-wrapper .sort-reset:hover {
    background-color: #EB3349;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}
.ticker-list-wrapper .table-wrapper{
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.single-ticker-wrapper{
    min-width: 25%;
    min-height: 300px;
    animation: 1s fadeIn ease;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.45);
}

.single-ticker-wrapper h1{
    font-size: 20px;
}
.single-ticker-wrapper-single-descr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-container {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 25px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .4s;
    padding-top: 5px;
    animation: .5s fadeIn linear;
    opacity: 1;
}

.footer-container img {
    width: 20px;
    transition: .3s;
    margin: 0 2px;
}

.footer-container img:hover {
    cursor: pointer;
}

.footer-container:hover {
    box-shadow: 0px -5px 40px -10px rgba(0, 0, 0, 0.75);
    height: 45px;
    opacity: 0.8;
}

.footer-container:hover img {
    width: 30px;
    margin: 0 10px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #000000;
}
::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes menuAppear{
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 870px) {
    .app-wrapper {
        align-items: center;
    }
    .header-container{
        width: 80%;
        right: auto;
    }
}
@media (max-width: 1090px) {
    .ticker-list-wrapper{
        margin-top: 100px;
    }
}